# Number operations

In [1]:
204 + 259

463

In [21]:
204 - 259

-55

In [2]:
147 * 9

1323

In [24]:
11*22

242

In [25]:
20 ** 10

10240000000000

In [3]:
4 ** 20

1099511627776

In [5]:
1.46 * 2

6.283

In [26]:
22*2

44

In [8]:
import math
math.pi+math.pi

6.283185307179586

In [45]:
import math
math.pi +2

5.141592653589793

In [9]:
math.sqrt(16)

4.0

In [10]:
print(5+7)
print(5*7)
print(5/7)

12
35
0.7142857142857143

In [59]:
import random

In [60]:
random.random()

0.44820672489682245

In [61]:
random.choice([4, 2, 3, 5])

2

# String operations

In [1]:
#checking type of variables
a = 'Rahim'
print(type(a))

a = 1.0547 -1
print(type(a))

<class 'str'>
<class 'float'>

In [2]:
a = "rahim"
print(a)

rahim

In [3]:
'-Artificial Intelligence- ' * 10

'-Artificial Intelligence- -Artificial Intelligence- -Artificial Intelligence- -Artificial Intelligence- -Artificial Intelligence- -Artificial Intelligence- -Artificial Intelligence- -Artificial Intelligence- -Artificial Intelligence- -Artificial Intelligence- '

In [4]:
'Rahim'+' abir'

'Rahim abir'

In [5]:
s1= 'rahim'

len(s1)

5

In [6]:
s1[3]

'i'

In [7]:
s1[2]

'h'

In [8]:
s1[-1]

'm'

In [9]:
s1[-2]

'i'

In [10]:
s1[len(s1)-1]

'm'

In [11]:
s1[0:2]

'ra'

In [12]:
s1[2:]

'him'

In [13]:
s1[0:2]

'ra'

In [14]:
s1[:4]

'rahi'

In [15]:
s1[:-2]

'rah'

In [16]:
s1[:]

'rahim'

In [17]:
s1 + ' abir'

'rahim abir'

In [18]:
s1

'rahim'

In [19]:
s1*4

'rahimrahimrahimrahim'

In [20]:
s1[0] = 'hp' #error because of immutibility

TypeError: 'str' object does not support item assignment

In [21]:
s2 = 'Md. ' + s1[0 :]

In [22]:
s2

'Md. rahim'

In [23]:
s1.find('Fa')

-1

In [24]:
s1.replace('a', 'abc')

'rabchim'

In [25]:
s3 = 'rahim,abir,chowdhury'

In [26]:
s3.split(',')

['rahim', 'abir', 'chowdhury']

In [27]:
s3.upper( )

'RAHIM,ABIR,CHOWDHURY'

In [28]:
s1.isalpha( )

True

In [29]:
s1.isdigit( )

False

In [30]:
s3 = s1.rstrip( )

In [31]:
s3

'rahim'

In [32]:
dir(s3)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# List

In [33]:
data = [1500,'rahim', 1477, 3.80,5477,888]

In [34]:
data[1]

'rahim'

In [35]:
data[3]

3.8

In [36]:
data[2]

1477

In [37]:
len(data)

6

In [38]:
data[:-1]

[1500, 'rahim', 1477, 3.8, 5477]

In [39]:
data + [10, 15, 16]

[1500, 'rahim', 1477, 3.8, 5477, 888, 10, 15, 16]

In [40]:
data

[1500, 'rahim', 1477, 3.8, 5477, 888]

In [41]:
data.append('hello')

In [42]:
data

[1500, 'rahim', 1477, 3.8, 5477, 888, 'hello']

In [43]:
data.pop(3)

3.8

In [44]:
data

[1500, 'rahim', 1477, 5477, 888, 'hello']

In [45]:
data1=['d','e','g','a','l']

In [46]:
data1.sort()

In [47]:
data1

['a', 'd', 'e', 'g', 'l']

In [48]:
data1.reverse()

In [49]:
data1

['l', 'g', 'e', 'd', 'a']

In [50]:
data3=[[14, 12, 53],
[44, 55, 66],
[71, 28, 99]]

In [51]:
data3

[[14, 12, 53], [44, 55, 66], [71, 28, 99]]

In [52]:
data3[2]

[71, 28, 99]

In [53]:
data3[2][2]

99

In [54]:
data4 = [row[2] for row in data3]

In [55]:
data4

[53, 66, 99]

In [56]:
[row[2] + 1 for row in data3]

[54, 67, 100]

In [57]:
[row[2] for row in data3 if row[2] % 2 == 0]

[66]

In [58]:
data5 = [data3[i][i] for i in [0, 2, 1]]

In [59]:
data5

[14, 99, 55]

In [60]:
data6 = [a * 2 for a in 'rahim']

In [61]:
data6

['rr', 'aa', 'hh', 'ii', 'mm']

# Dictionary

In [62]:
person1 = {'Age':34,'Name':['rahim','abir'], 'Salary':100000, 'Rating':10,'Working hour':8}

In [63]:
person1['Salary']

100000

In [64]:
len(person1)

5

In [65]:
Student1 = {'Age':19,'Name':['rahim','abir'], 'Semester':5, 'Rating':10,'study hour':12}

In [66]:
Student1['Name']

['rahim', 'abir']

In [67]:
Student1['Semester']

5

In [68]:
Student1['study hour']

12

In [69]:
Student1['study hour'] += 2

In [70]:
Student1

{'Age': 19,
 'Name': ['rahim', 'abir'],
 'Semester': 5,
 'Rating': 10,
 'study hour': 14}

In [71]:
emp = {}

In [72]:
emp['name'] = 'rahim'

In [73]:
emp['job'] = 'engineer'

In [74]:
emp['age'] = 29

In [75]:
emp

{'name': 'rahim', 'job': 'engineer', 'age': 29}

In [76]:
print (emp['age'])

29

In [77]:
datas = {'name': {'first': 'rahim', 'last': 'abir'},
'job': ['student', 'volenteer'],
'age': 19}

In [78]:
datas['name']

{'first': 'rahim', 'last': 'abir'}

In [79]:
datas['name']['last']

'abir'

In [80]:
datas['job']

['student', 'volenteer']

In [81]:
datas['job'][-1]

'volenteer'

In [82]:
datas['job'].append('programmer')

In [83]:
datas

{'name': {'first': 'rahim', 'last': 'abir'},
 'job': ['student', 'volenteer', 'programmer'],
 'age': 19}

In [84]:
dataKeys = datas.keys( )

In [85]:
dataKeys

dict_keys(['name', 'job', 'age'])

In [86]:
newData= {'z': 10, 'e': 21, 'g': 53}

In [87]:
newData

{'z': 10, 'e': 21, 'g': 53}

In [88]:
dataKeys2 = newData.keys( )

In [89]:
dataKeys2

dict_keys(['z', 'e', 'g'])

In [90]:
for key in dataKeys:print (key, '=', datas[key])

name = {'first': 'rahim', 'last': 'abir'}
job = ['student', 'volenteer', 'programmer']
age = 19

In [91]:
for key in sorted(dataKeys):print (key, '=', datas[key])

age = 19
job = ['student', 'volenteer', 'programmer']
name = {'first': 'rahim', 'last': 'abir'}

In [92]:
for a in 'fahim':print (a.upper( ))

F
A
H
I
M

# tuples

In [93]:
t1=(10,5,6,8,2)

In [94]:
t1 + (11,12)

(10, 5, 6, 8, 2, 11, 12)

In [95]:
t1[0]

10

In [96]:
t[0]=0 #will error because tuples are immutable

NameError: name 't' is not defined