# WEEK_2

In [2]:

for i in range(5,20,2):
    print(i)

5
7
9
11
13
15
17
19

In [3]:
# range
for i in range(10,100,10):
    print(i)

10
20
30
40
50
60
70
80
90

In [4]:
# range
for i in range(50,500,100):
    print(i)

50
150
250
350
450

In [5]:
# indent
i = 1
if i < 10: 
    print('okay')
    print('fine')
else:
    print('bad')
print('regular output') # will be executed in each run

okay
fine
regular output

In [6]:
# loop
for i in range(50,200,50):
    print(i)
    print("no")
print("sucess")

50
no
100
no
150
no
sucess

In [7]:
def multiplyTable(n,r=5):
    for i in range(1,r+1):
        print("{}X{}={}".format(n,i,n*i))

In [8]:
multiplyTable(100,10)

100X1=100
100X2=200
100X3=300
100X4=400
100X5=500
100X6=600
100X7=700
100X8=800
100X9=900
100X10=1000

In [9]:
multiplyTable(200)

200X1=200
200X2=400
200X3=600
200X4=800
200X5=1000

In [10]:
# task
# define a method to print first name and last name from full name

# ex: input: Arafat Rahman 
# output: 
#first name: Arafat
#last name: Rahman

# getNames('Arafat Rahman')
def getName(name):
 FN,LN =name.split()
 print("First Name :"+FN)
 print("Last  Name : " +LN)
getName('Rahim abir')

First Name :Rahim
Last  Name : abir

## Lesson 2 (String)

In [11]:
len('Rahim')

5

In [12]:
'Ta' + 'Him'

'TaHim'

In [13]:
'Hi,There. ' *5

'Hi,There. Hi,There. Hi,There. Hi,There. Hi,There. '

In [14]:
'--' * 10

'--------------------'

In [15]:
myName= "Rahim"

In [16]:
for i in myName: print (i)

R
a
h
i
m

In [17]:
"F" in myName

False

In [18]:
"k" in myName

False

In [19]:
n = "Rahim"

In [20]:
n[0],n[-3]

('R', 'h')

In [21]:
n[2:4],n[2:],n[:-1]

('hi', 'him', 'Rahi')

In [22]:
n[0:5:2]

'Rhm'

In [23]:
n1='ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [24]:
n1

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [25]:
n1[0:20:3]

'ADGJMPS'

In [26]:
n1[::5]

'AFKPUZ'

In [27]:
n1[::-1]

'ZYXWVUTSRQPONMLKJIHGFEDCBA'

In [28]:
n1[20:10:-1]

'UTSRQPONML'

In [29]:
int("225"), str ("225")

(225, '225')

In [30]:
repr(225),225

('225', 225)

In [31]:
n2 = "555"

In [32]:
m= 222

In [33]:
int(n2)+ m

777

In [34]:
n2 +str(m)

'555222'

In [35]:
str(514.214),float("5.5")

('514.214', 5.5)

In [36]:
Word= "2.145E-5"

In [37]:
float(Word)

2.145e-05

In [38]:
ord('A')

65

In [39]:
chr(111)

'o'

In [40]:
a = '1'

In [41]:
b = chr(ord(a) + 2)

In [42]:
b

'3'

In [43]:
int('10')

10

In [44]:
ord('8') - ord('2')

6

In [45]:
a='1234567'

In [46]:
j=0

In [47]:
A = '24'
B = 0

In [48]:
while B:
 B = B * 2 + (ord(A[0]) - ord('0'))
 A = A[1:]

 B

In [49]:
B

0

In [50]:
N= 'abir'

In [51]:
N = N + 'Rahim'

In [52]:
N

'abirRahim'

In [53]:
N= N[:2] + 'CHOWDHURY' + N[-2]

In [54]:
N

'abCHOWDHURYi'

In [55]:
name = "Farham"

In [56]:
"My name is %s!" % name

'My name is Farham!'

In [57]:
"%d %s %d poysha" % (5, 'Taka', 50)

'5 Taka 50 poysha'

In [58]:
"%s -- %s -- %s" % (1010, 5.554, [4,5,6])

'1010 -- 5.554 -- [4, 5, 6]'

In [59]:
N.capitalize( )

'Abchowdhuryi'

In [60]:
N.center(5)

'abCHOWDHURYi'

In [71]:
N.isalnum( )

True

In [72]:
N.isalpha( )

True

In [73]:
N.isdigit( )

False

In [74]:
N.islower( )

False

In [75]:
N.isspace( )

False

In [76]:
N.istitle( )

False

In [79]:
N.isupper( )

False

In [81]:
N.join(N)

'aabCHOWDHURYibabCHOWDHURYiCabCHOWDHURYiHabCHOWDHURYiOabCHOWDHURYiWabCHOWDHURYiDabCHOWDHURYiHabCHOWDHURYiUabCHOWDHURYiRabCHOWDHURYiYabCHOWDHURYii'

In [82]:
name = 'Farham abir'

In [83]:
names= name.split( )

In [84]:
names

['Farham', 'abir']

In [92]:
name='Farham,abir'

In [93]:
name.split(',')

['Farham', 'abir']

In [94]:
name = "Md. Faham abir \n"

In [95]:
name.rstrip( )

'Md. Faham abir'

In [96]:
name.upper( )

'MD. FAHAM ABIR \n'

In [67]:
name.isalpha( )

False

In [70]:
name.endswith('\n')

True

In [72]:
name.find('MD.') != -2

True

## Lesson 3 (List and Dictionaries)

In [73]:
 len([5, 2, 7])

3

In [74]:
[7, 8, 4] + [7, 7, 6]

[7, 8, 4, 7, 7, 6]

In [75]:
['Hi'] * 4

['Hi', 'Hi', 'Hi', 'Hi']

In [77]:
7 in [7, 8, 7] # Membership

True

In [78]:
 for i in [7, 4, 2]: print (i)

7
4
2

In [79]:
str([7, 8]) + "24"

'[7, 8]24'

In [80]:
[8, 4] + list("24")

[8, 4, '2', '4']

In [82]:
 H = ['Hi', 'there', 'Hello!']

In [83]:
 H[2]

'Hello!'

In [84]:
H[-3]

'Hi'

In [85]:
H[1:]

['there', 'Hello!']

In [86]:
matrix1 = [[7, 8, 9], [1, 8, 6], [8, 8, 7]]

In [87]:
matrix1[2]

[8, 8, 7]

In [88]:
matrix1[2][0]

8

In [89]:
matrix2 = [[7, 2, 5],
[4, 1, 6],
[9, 9, 9]]

In [93]:
matrix2[2][0]

9

In [97]:
k = ['hi', 'welcome', 'hello!']

In [98]:
k[1] = 'welcome2'

In [99]:
k

['hi', 'welcome2', 'hello!']

In [100]:
k[0:2] = ['come', 'again']

In [101]:
k

['come', 'again', 'hello!']

In [102]:
k.append('Hi2')

In [103]:
k

['come', 'again', 'hello!', 'Hi2']

In [104]:
k.sort( )

In [105]:
k

['Hi2', 'again', 'come', 'hello!']

In [106]:
k = [2, 9]

In [107]:
k.extend([4.8])

In [108]:
k

[1, 2, 4.8]

In [109]:
k.pop( )

4.8

In [110]:
k

[1, 2]

In [111]:
k.reverse( )

In [112]:
k

[2, 1]

In [113]:
k = []

In [114]:
k.append(8)

In [115]:
k.append(16)

In [116]:
k

[8, 16]

In [117]:
k.pop( )

16

In [118]:
k

[8]

In [137]:
k=['hello!', 'I', 'am', 'python']

In [138]:
k

['hello!', 'I', 'am', 'python']

In [139]:
del k[2]

In [140]:
k

['hello!', 'I', 'python']

In [141]:
del k[1:]

In [142]:
k

['hello!']

In [143]:
u= ['this','is','me']

In [144]:
 u[2:] = []

In [145]:
u

['this', 'is']

In [146]:
u[0] = []

In [147]:
u

[[], 'is']

In [154]:
x = {'hi': 1, 'I': 2, 'Am!': 3}

In [155]:
x['hi']

1

In [156]:
x

{'hi': 1, 'I': 2, 'Am!': 3}

In [157]:
len(x)

3

In [161]:
'Am!'in x

True

In [162]:
x.keys()

dict_keys(['hi', 'I', 'Am!'])

In [163]:
x['Am'] = ['person','no','one']

In [164]:
x

{'hi': 1, 'I': 2, 'Am!': 3, 'Am': ['person', 'no', 'one']}

In [165]:
 del x['hi']

In [166]:
x

{'I': 2, 'Am!': 3, 'Am': ['person', 'no', 'one']}

In [167]:
x['name'] = 'jon'

In [168]:
x

{'I': 2, 'Am!': 3, 'Am': ['person', 'no', 'one'], 'name': 'jon'}

In [169]:
y = {'number1': 100, 'number2': 90, 'number3': 80}

In [170]:
y

{'number1': 100, 'number2': 90, 'number3': 80}

In [171]:
y.values( )

dict_values([100, 90, 80])

In [172]:
y.items( )

dict_items([('number1', 100), ('number2', 90), ('number3', 80)])

In [173]:
y.get('number3')

80

In [177]:
y.get('number4')

In [178]:
y.get('number4', 85)

85

In [179]:
x

{'I': 2, 'Am!': 3, 'Am': ['person', 'no', 'one'], 'name': 'jon'}

In [180]:
z = {'age':45, 'hours':6}

In [181]:
x.update(z)

In [182]:
x

{'I': 2,
 'Am!': 3,
 'Am': ['person', 'no', 'one'],
 'name': 'jon',
 'age': 45,
 'hours': 6}

In [183]:
x.pop('age')

45

In [184]:
x

{'I': 2, 'Am!': 3, 'Am': ['person', 'no', 'one'], 'name': 'jon', 'hours': 6}

In [185]:
f = ['hi', 'hello', 'welcome', 'smile']

In [186]:
f.pop( )

'smile'

In [187]:
f

['hi', 'hello', 'welcome']

In [188]:
f.pop(1)

'hello'

In [189]:
f

['hi', 'welcome']